/**
All custom styles here.
**/

#poster-container {
    width: 100%;
}

#poster-preview {
    width: 600px;
    height: 800px;
    border: 1px solid #eee;
    margin: 0 auto;
    margin-bottom: 10%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

#poster-preview #preview-image {
    background: #f6f6f6;
    border: 1px dashed #444;
    height: 40%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#poster-preview #preview-image .inner {
    padding-top: 30%;
}

#poster-preview #preview-image .inner.hide {
    display: none;
}

#poster-preview #preview-image img {
    position: relative;
    max-height: 310px;
    max-width: 600px;
    z-index: 1;
}